.locker-btn {
  display: inline-flex;
  width: 33%;
  flex: 1 0 auto;
}

.locker-btn button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 24px;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}